ul{
    list-style: none;
    border-bottom: 1px solid black;


}
ul.perrolista{
    margin-top: 20px;


}

ul li{
    display: inline-block;
    width: 24%;
}

ul.cabecera li{
    font-weight: bold;
}

img{
    width: 50%;
    margin-top: 4px;
}

a:hover{ /* cuando me pongo encima */
    color: cadetblue;
}

.derecha{
    text-align: right;
}

.centro{
    text-align: center;
}